:root{
    --color-red: #9A2C19;
    --color-red-dark: #701a0b;
    --color-red-light: #EE7C68;
    --bs-dark: #130031;
    --bs-dark-rgb: 19, 0, 49;
    --bs-dark-bg-subtle: #1F3651;
    --bs-dark-bg-subtle-rgb: 31, 54, 81;
    --bs-light-bg-subtle: #ffe5e1;
    --bs-light : #F7F7FF; /*Texte pâle*/
    --bs-secondary : #faf0e3;
    --bs-secondary-rgb : 250, 240, 227; /*background main*/
    --bs-link-color : #faf5ef;
    --bs-link-color-rgb : 194, 55, 31;
    --bs-link-hover-color: #701a0b;
    --bs-link-hover-color-rgb: 112, 26, 11;
    --bs-body-bg: #F7F7FF; /*Footer, cards, carousel,*/
}
.btn-primary{
    --bs-btn-bg : var(--color-red);
    --bs-btn-border-color: var(--color-red);
    --bs-btn-hover-bg: var(--color-red-dark);
    --bs-btn-hover-border-color: var(--color-red-dark);
    --bs-btn-active-bg : var(--color-red-light);
    --bs-btn-active-border-color: var(--color-red-dark);
}
.nav-link.active{
    --bs-nav-underline-link-active-color: var(--color-red-light);
}
.nav-link{
    --bs-nav-link-color: var(--bs-light);
}
.nav-link:focus, .nav-link:hover{
    --bs-nav-link-hover-color: var(--color-red-light);
}
/* Pour JS */
.btn-panier{
    scale: 1; /*Sert à identifier les btn dans le JS, sacle:1 pour éviter un avertissement de classe vide*/
}
header:hover{
    position: sticky !important;
    top: 0px !important;
}

/* CSS minimal */
.banner__text{
    text-shadow: 0 0 5px #000000, 0 0 10px #000000, 0 0 25px #000000;
}
.carousel-item {
  img{
    height: 70vh;
    object-fit: contain;
  }
}
.ensemble__image{
    height: 25vh;
    width: 35vh;
}
@media (max-width: 1400px){
    .ensemble__image{
        height: 35vh;
        width: 45vh;
    }
    .carousel-item {
        img{
            height: 55vh;
        }
    }
}